.git
.github
node_modules
vendor

.env
.env.*
!.env.docker.example

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
storage/*.key

public/build
public/hot
public/storage

.DS_Store
.idea
.vscode
.phpunit.result.cache
.phpunit.cache
